@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

:root {
  --primary-color: #41664b; /* Green */
  --secondary-color: #5f7138ff; /* Green */
  --background-color: #d5e7eaff; /* Cream */
  --card-background-color: #89aab1ff; /* Light Cream */
  --accent-color: #6897a2ff; /* Light Brown */
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14pt;
  font-weight: 300 !important;
  padding: 0;
  background-color: var(--background-color);
  color: var(--primary-color);
  text-align: justify;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header h1 {
  margin-left: 60px;
  font-size: 2em;
  color: var(--primary-color);
}

main {
  padding: 20px;
}

#footer {
  cursor: default;
  left: 0;
  line-height: 4em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.back-button {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 30px; /* Increase the font size for a larger arrow */
  color: var(
    --primary-color
  ); /* Transparent color (adjust the alpha value as needed) */
  text-decoration: none;
}

.back-button:hover {
  color: var(--accent-color); /* Adjust the hover color if desired */
}

.back-button::before {
  content: "\2190"; /* Unicode for left arrow */
  margin-right: 5px;
}

p a {
	-moz-transition: border-color 0.2s ease-in-out;
	-webkit-transition: border-color 0.2s ease-in-out;
	-ms-transition: border-color 0.2s ease-in-out;
	transition: border-color 0.2s ease-in-out;
	border-bottom: dotted 1px;
	color: inherit;
	outline: 0;
	text-decoration: none;
}

p a:hover {
	border-color: transparent;
}